<div class="toast-pf toast-pf-top-right alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <%= icon_text('close','',:kind => 'pficon') %>
  </button>
  <%= icon_text('ok', message, :kind => 'pficon') %>
</div>