<div class="toast-pf toast-pf-top-right alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <%= icon_text('close', '', :kind => 'pficon') %>
  </button>
  <div class="pull-right toast-pf-action">
    <%# action %>
  </div>
  <%= icon_text('warning-triangle-o', message, :kind => 'pficon') %>
</div>