<%= content_for(:content) do %>
  <%= render :partial => 'common/flash', :locals => { :flash => flash } %>
  <div class="login-page" >
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/base' %>
